<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{project-name}}</title>
    </head>
    <body>
        <script src="{{project-name}}.js"></script>
    </body>
</html>

