use yew::{Component, ComponentLink, html, Html, ShouldRender};

pub struct App {}

impl Component for App {
    type Message = ();
    type Properties = ();

    fn create(_: Self::Properties, _link: ComponentLink<Self>) -> Self {
        App {}
    }

    fn update(&mut self, _msg: Self::Message) -> ShouldRender { true }

    fn view(&self) -> Html {
        html! {
            <p>{ "Hello World!" }</p>
        }
    }
}
